html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
.container{
  width:1170px;
  padding:0px 15px;
  margin:0 auto;
}


header{
  width:100%;
  height:65px;
  background-color:rgba(34, 49, 52, 0.9);
  position:fixed;
  z-index:10;
}

.header-right{
  float:right;
  background-color:rgba(255, 255, 255, 0.3);
  transision:all 0.5s;
  
}

.header-right:hover{
  background-color:rgba(255, 255, 255, 0.5);
}

.header-left{
  float:left;
  
}

.logo{
  width:124px;
  padding:20px 0px;
}

.login{
  line-height:65px;
  padding:0px 20px;
  color:white;
}


.top-container{
  width:1170px;
  padding:0px 15px;
  margin:0 auto;
  
  
}

.top-wrapper{
  background-image:url(https://prog-8.com/images/html/advanced/top.png);
  padding:180px 0px 100px 0px;
  background-size:cover;
  color:white;
  text-align:center;
  
}

.top-container h1{
  font-size:45px;
  font-weight:bold;
  letter-spacing:5px;
  opacity:0.7;
}

.top-container p{
opacity:0.7;

}

.btn{
  color:white;
  padding:8px 24px;
  border-radius:4px;
  opacity:0.8;
  display: inline-block;
}

.btn:hover{
  opacity:1;
}


.taku{
  padding:15px 0px;
}


.signup {
  background-color:#239b76;
  margin-top:30px;
  
}

.twitter{
  background-color:#55acee;
}

.facebook{
  background-color:#3b5998;
}

.fa{
  margin-right:5px;
}

.lesson-wrapper{
  height:580px;
  background-color:#f7f7f7;
}

.lesson-top{
  text-align:center;
  padding:80px 0px 50px 0px;
  font-size:24px;
  font-weight:normal;
}

.lessons{
  width:100%;
  text-align:center;
  
}

.lesson{
  float:left;
  width:25%;
}



  


.lesson p{
  position:absolute;
  top:840px;
  width:23%;
  color:white;
}


.lesson-message{
  display:inline-block;
  font-size:12px;
  width:80%;
  margin-top:15px;
  color:#b3aeb5;
}

.message-wrapper{
  text-align:center;
  
  
}

.iti{
  padding-top:80px;
  display:inline-block;
  font-size:24px;
}

.ni{
  font-size:18px;
  font-weight:bold;
}

.kaihatsu{
  background-color:#5dca88;
  padding:15px 40px;
  margin-bottom:80px;
  margin-top:50px;
  box-shadow:0px 7px #1a7940;
  display:inline-block;
}

.kaihatsu:active{
  box-shadow:none;
  position:relative;
  top:7px;
  
}


footer{
  color:#b3aeb5;
  border-top:1px solid #eee;
  
}

.moji{
  width:124px;
  padding-top:30px;
  
}

.moji2{
  font-size:12px;
  padding-bottom:30px;
}
